@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    
    <link rel="stylesheet" type="text/css" href="~/css/site.css">

</head>
<body>
    <img src="~/css/background.jpg" alt="Imagine de fundal" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity: 0.7;">
<h1 style="margin-bottom:30px">Bine ați venit la Nautics Constanta</h1>
<div style="display:flex;gap:30px">
    <div>
        <img src="~/css/nautic.png" style=" margin-right: 20px;margin-top:40px; max-width: 300px; height: auto;"/>
    </div>
    
    <div class="container">
       
        <p>
            Bine ati venit la Nautics Constanta - destinatia dvs. premier pentru aventurile nautice in zona Constantei! Suntem mandri sa va prezentam o gama variata de activitati nautice, concepute pentru a va oferi experiente memorabile si pline de adrenalina in mijlocul frumusetii naturii marine.
        </p>
        <br />
        <p>
            <h4>Scufundari cu Tubul:</h4> In colaborare cu instructorii nostri experimentati, va invitam sa explorati misterul adancurilor cu scufundarile cu tubul. De la recifele de corali vibrante la epavele incarcate de istorie, fiecare scufundare este o calatorie captivanta in lumea subacvatica.

        </p>
        <br />
        <p>
            <h4>Surfing si Kitesurfing:</h4> Experimentati valurile energice ale Marii Negre cu lectii de surfing si kitesurfing. Cu instruitori profesionisti si echipamente de ultima generatie, veti descoperi senzatii unice de libertate si bucurie pe apele marii.
        </p>
        <br />
        <p>
                <h4>Excursii cu Barca:</h4> Bucurati-va de o zi de relaxare pe Marea Neagra cu excursii cu barca organizate de NauticsConstanta. Va garantam peisaje de neuitat si aventuri maritime pentru intreaga familie sau grupul de prieteni.
        </p>
        <br />
        <p>
            <h4> Cursuri de Navigatie:</h4> Pentru cei care doresc sa invete arta navigatiei, oferim cursuri profesionale de navigatie conduse de instructori calificati. De la incepatori la avansati, avem cursuri adaptate nevoilor si nivelului dumneavoastra de experienta.

        </p>
        <br />
        <p>
            La NauticsConstanta, ne angajam sa va oferim cele mai bune experiente nautice, indiferent de nivelul dumneavoastra de experienta sau preferintele dvs. Cu o echipa dedicata si pasionata, va garantam ca veti pleca cu amintiri de neuitat si cu dorinta de a reveni pentru mai multe aventuri nautice in Constanta!
        </p>
    </div>
</div>
</body>